{% extends "layout.html" %}

{% block content %}

<h4><a href={{ url_for('createteam') }}>Create a Team</a></h4>

{% for team in teams %}
<h2>{{team.name}}</h2><a href="{{ url_for('team', id=team.id)}}">Edit Team</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Player Name</td>
            <td>Gender</td>
        </tr>
    </thead>
    {% for player in team.players %}
    <tr>
        <td>{{player.name}}</td>
        <td>{{player.gender}}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}