{% extends "layout.html" %}

{% block content %}

<h1>{{team.name}}</h1>

<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Gender</td>
        </tr>
    </thead>
    {% for player in team.players %}
    <tr>
        <td>{{player.name}}</td>
        <td>{{player.gender}}</td>
    </tr>
    {% endfor %}
</table>

<form method="POST" action="/addplayertoteam/{{team.id}}" novalidate>
    {{playerform.hidden_tag()}}
    <p>
        {{playerform.player.label}}
        {{playerform.player()}}
    </p>
    <p>{{playerform.submit()}}</p>
</form>

{% endblock %}