{% extends "layout.html" %}

{% block content %}

<h1>Stats</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Player</td>
            <td>Game Date</td>
            <td>Game Number</td>
            {% for item in master %}
            <td>{{item.name}}</td>
            {% endfor %}
        </tr>
    </thead>
    {% for stat in stats %}
    <tr>
        <td>{{stat.player}}</td>
        <td>{{stat.gamedate}}</td>
        <td>{{stat.gamenumber}}</td>
        <td>{{stat.dumberrors}}</td>
        <td>{{stat.firstorsecondover}}</td>
        <td>{{stat.kills}}</td>
        <td>{{stat.attackerrors}}</td>
        <td>{{stat.totalattacks}}</td>
        <td>{{stat.assists}}</td>
        <td>{{stat.settingerrors}}</td>
        <td>{{stat.aces}}</td>
        <td>{{stat.serveattempts}}</td>
        <td>{{stat.serveerrors}}</td>
        <td>{{stat.receiveattempts}}</td>
        <td>{{stat.receiveerrors}}</td>
        <td>{{stat.digs}}</td>
        <td>{{stat.digerrors}}</td>
        <td>{{stat.blocks}}</td>
        <td>{{stat.blockassists}}</td>
        <td>{{stat.blockerrors}}</td>
        
    </tr>
    {% endfor %}
</table>

{% endblock %}

